*{
    margin: 0;
    padding: 0;
    
    
}

body{
    font-family: "Vend Sans", sans-serif;
}
.navibar{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navibar__s1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.navibar__s1 h1{
    color: #A435F0;
}
.navibar__s1 a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border: solid #A435F0 1px;
    border-radius: 5px ;
    color: black;
}

.navibar__s2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 20px;
    width: 50%;
    flex-grow: 1;
   
}

.navibar__s2 input{
    padding: 5px;
    border: none;
    background: transparent; 
}

.navibar__s3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navibar__s3--{
    position: relative;
}

.navibar__s3--pop{
    border: solid #6d28d2 1px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: white;
    gap: 30px;
    position: absolute;
    right: 0px;
    top: 100%;
    display: none;
}

.navibar__s3--:hover .navibar__s3--pop{
    display: inline-block;
}

.navibar__s3--pop a{
    background-color: #6d28d2;
    border: #6d28d2 solid 1px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.navibar__s3--pop p{
    padding-bottom: 10px;
}

.navibar__s3 a{
   text-decoration: none; 
   color: black;
}

.navibar__s3__l{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.navibar__s3__l a{
    border: solid  white 1px;
    background-color: #202230;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.navibar__s4{
    display: none;
}

.sales{
    margin-top: solid #A435F0 1px ;
    margin-bottom: solid #A435F0 1px ;
    position: relative;
}

.sales__offer{
    border: solid black 1px;
    background-color: beige;
    padding: 20px;
    width: 40%;
    position: absolute;
    top: 50px;
    left: 50px;
    animation-name: drop;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes drop{
    0%{
        opacity:0;
        top: 0%;
        left: 0%;
    }
    100%{
        opacity:1;
        top: 10%;
        left: 5%;
    }
}

.sales img{
    width: 100%;
}

.demand-course{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
}
.desc {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dc__1,.dc__2,.dc__3{
    width: 350px;
}
.dc__1 img{
    width: 100%;
    height: 300px;
}
.dc__2 img{
    width: 100%;
    height: 300px;
}
.dc__3 img{
    width: 100%;
    height: 300px;
}

.dc__1__d,.dc__2__d,.dc__3__d{
    border: solid black 1px;
    border-radius: 30px;
    text-align: center;
}

.skills{
    padding: 20px;
}

.skills__box{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.skills__box h3{
    color: antiquewhite;
    background-color: #A435F0;
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    cursor: pointer;
}
.skills__box h3:hover{
    background-color:white;
    color:#A435F0;
    border: solid black 1px;
    border-radius: 20px;

}

.course{
    padding: 20px;
}

.course__list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    

}
.course__list__1{
    flex-grow: 1;
    flex-basis: 22%;
}
.course__list__1 img{
    width: 100%;
    height: 200px;
}

.subscription{
    padding: 20px;
}

.subscription__plans{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 30px;

}

.subscription__plans__1{
    border: solid #A435F0 1px;
    border-radius: 10px;
    gap: 10px;
    padding: 40px;
    width: 30%;
}
.subscription__plans__1 h2{
    text-align: left;
    

}
.subscription__plans__1 h6{
    padding-bottom: 10px;
}
.subscription__plans__1 button{
    margin-bottom: 10px;
    color: #6d28d2;
    padding: 5px;
    outline: solid #6d28d2;
    border-radius: 5px;
    border: none;
}
.subscription__plans__1 h4{
    padding-top: 10px;
}

.footer{
    padding: 20px;
    background-color: #202230;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__details__1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;

}

.footer__details__1 a{
    color: white;
    text-decoration: none;
}
.footer__close a{
    color: white;
    text-decoration: none;
}
.footer__close{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.footer__close__1{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* media queries */

@media screen and (max-width:530px) {
    body{
        font-size: 10px;
    }
    .navibar__s3{
        display: none;
    }
    .navibar__s4{
        display: inline-block;
        position: relative;
    }
    .navibar__s4__details{
        background-color: white;
        border: solid black 1px;
        position: absolute;
        right: 0px;
        padding: 10px;
        gap: 15px;
        border-radius: 2px;
        display: none;
    }
    .navibar__s4__details a{
        text-decoration: none;
        color: black;
    }
    .navibar__s4 i{
        cursor: pointer;
    }

     .navibar__s4:hover .navibar__s4__details{
        display: block;
    }
    
    .sales__offer{
        font-size: 5px;
    }
    .course__list__1{
        flex-basis: 40%;
        flex-grow: 1;
    }
    .subscription__plans{
        display: flex;
        flex-wrap: wrap;
    }
    .subscription__plans__1{
        flex-grow: 1;
        flex-basis: 70%;
    }


}